/* Adicionando media query para estilos específicos em telas menores */
@media only screen and (max-width: 768px) {
  .corpo {
    width: 90%;
    padding: 1rem;
  }

  .carreira, .academico {
    width: 100%;
    margin-top: 1rem;
  }

  .habilidades {
    padding: 2rem;
  }

  .botoestopo {
    width: 100%;
  }

  #imgPerfil {
    height: 4rem;
    width: 4rem;
  }

  #imgTopico {
    width: 4rem;
    height: 4rem;
  }

  .habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.habilidades h4 {
  flex-basis: 200px; /* Define a largura mínima para os itens */
  text-align: center;
  margin: 10px; /* Espaçamento entre os itens */
}

